



/** Variable Declarations **/
/* colors */
:root {
    --off-white: rgb(250, 249, 245);
    --brown: rgb(63, 36, 0);
    --turquoise: rgb(0, 56, 61);
}





/** Stylings ********************************/


.body {
    background-color: var(--turquoise);
    width: 100vw;
}

.header {
    background-image: url("images/museumbackground.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

#site-header {
    font-size: 40px;
}
@media (max-width: 576px) {
    #site-header {
        font-size: 28px;
    }
}

#header-logo {
    font-size: larger;
    font-weight: bold;
    font-family: Harrington;
    color: var(--off-white);
}

/* Gallery Section */
#gallery {
    color: var(--off-white);
    font-family: Papyrus, fantasy;
}


/* About section */
#about {
    background-color: var(--off-white);
}

#about-heading {
    font-size: larger;
    font-weight: bold;
    font-family: Harrington;
    color: var(--brown);
    font-size: 30px;
}
@media (max-width: 576px) {
    #about-heading {
        font-size: 27px;
    }
}

.about-content {
    font-size: 20px;
    color: var(--turquoise);
    font-family: sans-serif;
    text-align: left;
    line-height: 40px;
}

@media (max-width: 576px) {
    .about-content {
        line-height: 32px;
        font-size: 20px;
    }
}


/* Filler section */
#filler {
    background-color: var(--brown);
    height: 15px;
}

/* Footer section */
#footer-color {
    background-color: var(--turquoise);
}

#footer-logo {
    font-size: larger;
    font-weight: bold;
    font-family: Harrington;
    color: var(--off-white);
}

#watermark {
    font-family: Papyrus, fantasy;
    color: var(--off-white);
    font-size: 18px;
}